<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="icon" type="image/x-icon" href="\static\images\logo\icon.ico">
    
    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <style>
        .btn-custom{
            color: black ;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        .btn-custom:active,
        .btn-custom:focus{
            outline: none;
            box-shadow: none;
            transform: scale(1);
        }

        .btn-custom:hover{
            color: #B31312  ;
        }
        

        .fixed-footer {
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        .disabled-link {
        pointer-events: none;
        }

        .star-rate {
            color: gold;
        }

        .custom-switch {
        width: 10px; /* Atur lebar sesuai kebutuhan */
        height: 20px; /* Atur tinggi sesuai kebutuhan */
    }

    .main-content {
        min-height: 489px;
    }

    </style>


</head>
<body>
    <div class="wrapper">

        <div class="body-overlay"></div>

         <!-------sidebar-------------->
        <div id="sidebar">
            <div class="d-flex justify-content-center">
                <div class="sidebar-header">
                    <a href="/"><img src="/static/images/logo/navbar-brand.png" class="img-fluid" style="width: 150px;"></a>
                </div>
            </div>
            <ul class="list-unstyled component m-0">
                <li class="#">
                    <a href="/dashboard" class="dashboard "><i class="material-symbols-outlined">dashboard</i>dashboard </a>
                </li>
                
                <li class="#">
                    <a href="/dashboard/toko-anda"  class="dashboard" id="btnTokoAnda" ><i class="material-symbols-outlined">store</i>Toko Anda </a>
                </li>

                <li class="dropdown active">
                    <a href="#homeSubmenu1" data-bs-toggle="collapse" aria-expanded="true" class="dropdown-toggle active"><i class="material-symbols-outlined">package_2</i>Produk Anda
                    </a>

                    <ul class="collapse show  list-unstyled menu" id="homeSubmenu1">
                        <li><a href="/dashboard/tambah-produk">Tambah Produk</a></li>
                        <li><a href="/dashboard/daftar-produk" class="active">Daftar Produk</a></li>
                    </ul>
                </li>
            </ul>

        </div>
   <!-------sidebar--- End----------->

    <div id="content">

        <!------top-navbar-start-----------> 
        <div class="top-navbar">
            <div class="xd-topbar">
                <div class="row">
                    <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                    <div class="xp-menubar">
                        <span class="material-symbols-outlined text-white">signal_cellular_alt</span>
                    </div>
                    </div>
                    
                    <div class="col-md-5 col-lg-3 order-3 order-md-2">
                        <div class="xp-searchbar">
                            <form>
                            <div class="input-group">
                                <input type="search" class="form-control"
                                placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn" type="submit" id="button-addon2">Go
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    
                    
                    <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
                        <div class="xp-profilebar text-right d-flex justify-content-end">
                            <nav class="navbar p-0">
                                <ul class="nav flex-row ml-auto">
                                    <li class="dropdown nav-item active">
                                        <a class="nav-link" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <span class="material-symbols-outlined">notifications</span>
                                            <span class="notification">4</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#">You Have 4 New Messages</a></li>
                                            <li><a class="dropdown-item" href="#">You Have 4 New Messages</a></li>
                                            <li><a class="dropdown-item" href="#">You Have 4 New Messages</a></li>
                                            <li><a class="dropdown-item" href="#">You Have 4 New Messages</a></li>
                                        </ul>
                                    </li>
                                
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <span class="material-symbols-outlined">question_answer</span>
                                        </a>
                                    </li>
                                
                                    <li class="dropdown nav-item">
                                        <a class="nav-link" href="#" data-bs-toggle="dropdown">
                                            <img src="/static/images/placeholder/placeholder-image.png" style="width:40px; border-radius:50%;" alt="User Avatar">
                                            <span class="xp-user-live"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#">
                                                <span class="material-symbols-outlined">person_outline</span>
                                                Profile
                                            </a></li>
                                            <li><a class="dropdown-item" href="#">
                                                <span class="material-symbols-outlined">settings</span>
                                                Settings
                                            </a></li>
                                            <li><a class="dropdown-item" href="#">
                                                <span class="material-symbols-outlined">logout</span>
                                                Logout
                                            </a></li>
                                        </ul>
                                    </li>
                                </ul>  
                            </nav>
                        </div>
                        <!-- </div> -->
                    </div>
                    
                </div>
                <div class="xp-breadcrumbbar text-center">
                    <h4 class="page-title">Dashboard</h4>
                </div>
            </div>
        </div>
        <!------top-navbar-end-----------> 

        <!------Main-Content-----------> 
        <div class="main-content">
            <input type="hidden" name="seller_id" id="seller_id" value="{{ seller_id }}"> 
            <div class="container">
                <!-- Container Alert -->
                <div id="alert-container"></div>

                <div class="container d-flex justify-content-end mb-3">
                    <a href="/dashboard/tambah-produk" class="btn btn-success" >Tambah Produk</a>
                </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">
                            <input class="form-check-input" type="checkbox" value="" id="CheckAll">
                        </th>
                        <th scope="col">Info Produk</th>
                        <th scope="col"></th>
                        <th scope="col">Statistik</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Stok</th>
                        <th scope="col">Aktif</th>
                        <th scope="col">Aksi</th>
                      </tr>
                    </thead>

                    {% for x in range(10) %}
                    <tbody id="product-list">
                    
                    <tbody>
                    {% endfor %}
                </table>
               

                <div class="container form-group d-flex justify-content-end mb-3 sticky-sm-bottom" >
                    <button class="btn btn-success" id="btnSaveAll" style="display: None;">Simpan</button>
                </div>
                <div class="container form-group d-flex justify-content-end mb-3 sticky-top" id="container-btn-delete">
                    <button class="btn btn-danger" id="btnHapus" style="display: None;">Hapus</button>
                </div>
                
            </div>
    


        </div>
        <footer class="footer mt-5">
            <div class="container-fluid">
               <div class="footer-in">
                  <p class="mb-0">&copy 2023 Urban Store . All Rights Reserved.</p>
               </div>
            </div>
         </footer>
    </div>


    <!----------------- Modal Edit Product ----------------->
    <div class="modal fade" id="edit-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Produk</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        <div class="form-group row mb-4 mt-4 d-flex justify-content-center" id="img-preview"></div> 
                        <div class="form-group row mb-4 mt-4">
                            <div class="col-12">
                            <label for="inputImage" class="form-label">Pilih Gambar</label>
                                <input class="form-control" type="file" id="inputImage">
                            </div>
                        </div>

                        <div class="form-group row mb-4 mt-4">
                            <div class="col-12">
                                <label for="inputNamaProduk" class="form-label">Nama Produk</label>
                                <input type="text" class="form-control" id="inputNamaProduk" placeholder="Nama Produk">
                            </div>
                        </div>

                        <div class="form-group row mb-4 mt-4">
                            <div class="col-12">
                                <label for="inputDeskripsi" class="form-label">Deskripsi Produk</label>
                                <textarea type="text" class="form-control" id="inputDeskripsi" placeholder="Deskripsi"></textarea>
                            </div>
                        </div>

                        <div class="form-group row mb-4 mt-4">
                            <div class="col-12">
                                <label for="inputHarga" class="form-label">Harga</label>
                                <input type="number" class="form-control" id="inputHarga" placeholder="Harga">
                            </div>
                        </div>

                        <div class="form-group row mb-4 mt-4">
                            <div class="col-12">
                                <label for="inputStok" class="form-label">Stok</label>
                                <input type="number" class="form-control" id="inputStok" placeholder="Stok">
                            </div>
                        </div>
                    </form>  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-update-confirm">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="delete-product-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Hapus Produk?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-delete-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Tidak</button>
                    <button type="button" class="btn btn-danger" id="btn-delete-confirm" href="alert-container">Ya</button>
                </div>
            </div>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>      
	<script src="https://kit.fontawesome.com/fa29c2884b.js" crossorigin="anonymous"></script>
    <script src="\static\scripts\dashboard.js" defer></script>

    <script>
    $(document).ready(function(){
	      $(".xp-menubar").on('click',function(){
		    $("#sidebar").toggleClass('active');
			$("#content").toggleClass('active');
		  });
		  
		  $('.xp-menubar,.body-overlay').on('click',function(){
		     $("#sidebar,.body-overlay").toggleClass('show-nav');
		  });

        // Handle Ketika Ada Input Stok berubah (Update Stok)
        $(document).on('change', '.stock-input', function() {
            $('#btnSaveAll').show()

            $('#btnSaveAll').on('click', function() {
                var productsToUpdate = [];

                $('#product-list tr').each(function() {
                    var productId = $(this).find('.form-check-input').attr('id').split('-')[1];
                    var newStockValue = $(this).find('.stock-input').val();

                    var productData = {
                        id: productId,
                        stock: newStockValue
                    };

                    productsToUpdate.push(productData);
                });

                var updatedCount = 0;
                productsToUpdate.forEach(function(productData) {
                    $.ajax({
                        url: 'http://127.0.0.1:3000/update-stok/' + productData.id,
                        method: 'PUT',
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify({ stock: productData.stock }),
                        success: function (response) {
                            updatedCount++;
                            if (updatedCount === productsToUpdate.length) {
                                $('#alert-container').empty();
                                $('#alert-container').append('<div class="alert alert-success" role="alert">Berhasil Mengupdate Produk!</div>');
                                $('#btnSaveAll').hide()
                                show_product();
                                $(window).scrollTop(0);
                            }
                        },
                        error: function (error) {
                            console.error('Gagal mengupdate produk. Error:', error);
                        }
                    });
                });
            });        
        })
        
        $("#inputImage").on('change', function() {
            var fileInput = $('#inputImage')[0].files[0];
                if (fileInput) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-preview').empty();
                        $('#img-preview').append('<img src="'+ e.target.result +'"alt="image-preview" style="width: 15rem;">');
                    };
                    reader.readAsDataURL(fileInput);
                }
        })


        // Handle Ketika Ada Checkbutton aktif (Hapus Produk)
        $(document).on('change', '.checkbox', function() {
            var ProductSelected = $('.checkbox:checked').length > 0;

            if (ProductSelected) {
                $('#btnHapus').show();
            } else {
                $('#btnHapus').hide();
            }
            

            $('#btnHapus').on('click', function() {
                var productsToDelete = [];
                    $('.checkbox:checked').each(function() {
                        var productId = $(this).closest('tr').find('.form-check-input').attr('id').split('-')[1];
                        productsToDelete.push(productId);
                    });
                    
                    if (productsToDelete.length > 0) {
                        $('#delete-product-modal').modal('show');
                        $('#modal-delete-body').empty();
                        $('#modal-delete-body').append('<p>Yakin, Hapus ' + productsToDelete.length + ' Produk?</p>');

                        $('#btn-delete-confirm').off('click').on('click', function () {
                            $('#delete-product-modal').modal('hide');
                            var deletedCount = 0;
                            productsToDelete.forEach(function (productId) {
                                $.ajax({
                                    url: 'http://127.0.0.1:3000/delete-product/' + productId,
                                    method: 'DELETE',
                                    success: function (response) {
                                        deletedCount++;
                                        if (deletedCount === productsToDelete.length) {
                                            $('#alert-container').empty();
                                            $('#alert-container').append('<div class="alert alert-success" role="alert">Berhasil Menghapus Produk!</div>');
                                            show_product();
                                            $('#btnHapus').hide();
                                        }
                                    },
                                    error: function (error) {
                                        console.error('Gagal menghapus produk. Error:', error);
                                    }
                                });
                            });
                        });
                    } else {
                        $('#alert-container').empty();
                        $('#alert-container').append('<div class="alert alert-warning" role="alert">Tidak ada produk yang dipilih untuk dihapus!</div>');
                    }
            });
        })

        show_product()
    });

        // Untuk Menampilkan List Semua Produk Seller
        function show_product() {
            var seller_id = $('#seller_id').val()
            $.ajax({
                url: 'http://127.0.0.1:3000/get-my-product/'+seller_id, 
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    $('#product-list').empty();

                    $.each(response.products, function (index, product) {
                        var row = $('<tr>');
                        let formattedPrice = new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0 });

                        row.append('<input type="hidden" value="' + product.id +'">')
                        row.append('<td><input class="form-check-input checkbox" type="checkbox" id="check-' + product.id + '"></td>');
                        row.append('<td><img class="rounded-3" src="/static/images/product/'+product.image + '" alt="gambar-produk" width="80px"></td>');
                        row.append('<td><div class="row"><p class="px-0 fw-bold" style="font-size: 15px;">' + product.name + '</p></div></td>');
                        
                        row.append(`
                            <td>
                                <div class="ratings">
                                    <span class="product-rating">4.5</span><span>/5</span>
                                    <div class="stars">
                                        <i class="material-symbols-outlined star-rate">star_rate</i>
                                        <i class="material-symbols-outlined star-rate">star_rate</i>
                                        <i class="material-symbols-outlined star-rate">star_rate</i>
                                        <i class="material-symbols-outlined star-rate">star_rate_half</i>
                                        <i class="material-symbols-outlined" style="color: #6c757d;">star_rate</i>
                                    </div>
                                    <div class="rating-text">
                                        <span>46 ratings & 15 reviews</span>
                                    </div>
                                </div>
                            </td>
                        `)

                        row.append('<td class="fs-6 text-center">' + formattedPrice.format(product.price) + '</td>');
                        row.append('<td><input type="number" class="form-control form-control-sm stock-input" value="' + product.stok + '" style="width: 55px;"></td>');

                        row.append(`
                            <td id="product-active">
                                <div class="form-check form-switch">
                                    <input class="form-check-input custom-switch" type="checkbox" role="switch" id="flexSwitchCheck" checked>
                                    <label class="form-label fs-6" for="flexSwitchCheckDefault">Aktif</label>
                                </div>
                            </td>
                        `)

                        row.append('<td><a id="btn-edit" onclick="showEditModal(' + product.id + ')"><i class="material-symbols-outlined" style="color: #155724;">edit</i></a> <a id="btn-delete" onclick="deleteProductAlert(' + product.id + ', \'' + product.name + '\')"><i class="material-symbols-outlined" style="color: #721c24;">delete</i></a></td>');



                        $('#product-list').append(row);
                    });
                }
            });
        }

        // Untuk Menampilkan Modal Edit Produk 
        function showEditModal(productId) {
            $('#img-preview').empty()
            $('#edit-product-modal').modal('show');    
            $.ajax({
                url: 'http://127.0.0.1:3000/getDetail/'+productId, 
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    let product = response.products[0];

                    $('#img-preview').append('<img src="/static/images/product/'+ product.image +'"alt="image-preview" style="width: 15rem;">')

                    $('#inputNamaProduk').val(product.name)
                    $('#inputDeskripsi').val(product.description)
                    $('#inputHarga').val(product.price)
                    $('#inputStok').val(product.stok)

                    $('#btn-update-confirm').off('click').on('click', function () {
                        updateProduct(productId);
                        
                        $('#edit-product-modal').modal('hide');
                    });
                }
            });
        }

        // Untuk Menampilkan Alert Hapus Data
        function deleteProductAlert(productId, productName) { 
            $('#delete-product-modal').modal('show')
            $('#modal-delete-body').empty()
            $('#modal-delete-body').append('<p>'+ productName +' ?</p>')

            $('#btn-delete-confirm').off('click').on('click', function () {
            deleteProduct(productId);

            $('#delete-product-modal').modal('hide');
        });
        }

        // Untuk Menghapus Data 
        function deleteProduct(productId){
            $.ajax({
                url: 'http://127.0.0.1:3000/delete-product/'+productId, 
                method: 'DELETE',
                dataType: 'json',
                success: function (response) {
                    $('#alert-container').empty()
                    $('#alert-container').append('<div class="alert alert-success" role="alert">Berhasil Menghapus Produk!</div>');
                    show_product()
                },
                error:function (error) {
                    $('#alert-container').empty()
                    $('#alert-container').append('<div class="alert alert-danger" role="alert">Gagal Menghapus Produk!</div>');
                }
            });
        }
        
        // Untuk Melakukan Update Produk
        function updateProduct(productId) {
            var formData = new FormData();
            var fileInput = $('#inputImage')[0].files[0];

            if (fileInput) {
                formData.append('image', fileInput);
            }
            
            formData.append('name', $('#inputNamaProduk').val());
            formData.append('description', $('#inputDeskripsi').val());
            formData.append('harga', $('#inputHarga').val());
            formData.append('stok', $('#inputStok').val());

            $.ajax({
                url: 'http://127.0.0.1:3000/update-product/' + productId,
                method: 'PUT',
                data: formData,
                processData: false,
                contentType: false, 
                success: function (response) {
                    $('#alert-container').empty()
                    $('#alert-container').append('<div class="alert alert-success" role="alert">Berhasil Mengubah Produk!</div>');
                    show_product()
                },
                error: function (error) {
                    $('#alert-container').empty()
                    $('#alert-container').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">Gagal Mengubah Produk!</div>');
                }
            });
        }

    </script>
</body>
</html>