{% extends 'layout.html' %}
{% block head %}
<title>Urban</title>
{%endblock%}

{%block body%}
<input type="hidden" name="user_id" id="user_id" value="{{ user_id }}"> 
<div class="container">

    <div class="container mt-4 ">
        <div class="card shadow-sm">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static\images\crousel1.jpg" class="d-block w-100" alt="slide 1"></img>
                </div>
                <div class="carousel-item">
                    <img src="static\images\crousel2.jpg" class="d-block w-100" alt="slide 2"></img>    
                </div>
                <div class="carousel-item">
                    <img src="static\images\crousel3.jpg" class="d-block w-100" alt="slide 3"></img>    
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    
    <!-- Produk Populer -->
    <div class="d-flex mt-3 ms-4" style="margin-bottom: -5px;">
        <h4>Produk Populer</h4>
    </div>
    <div class="container d-flex justify-content-center gap-4 mt-3 flex-wrap" id="produk-populer"></div>
    <!-- Produk Populer End -->

    <div class="d-flex my-3 ms-4"></div>

    <!-- Semua Produk -->
    <div class="d-flex mt-3 ms-4" style="margin-bottom: -5px;">
        <h4>Daftar Produk</h4>
    </div>
    <div class="container d-flex justify-content-center gap-4 mt-3 flex-wrap" id="daftar-produk"></div>
    <!-- Semua Produk End -->

    <div class="container mt-lg-5">
        <footer>
        
        </footer>
    </div>
</div>


{%endblock%}

{%block scripts%}
<script src="/static/scripts/home.js"></script>

{%endblock%}
