{% extends 'layout.html' %}
{% block head %}
<title>Urban</title>
<link rel="stylesheet" href="\static\css\detail_product.css">

{%endblock%}

{%block body%}

<div class="container mt-lg-5"> 

    <div class="col-md-4" id="image-detail">
        <div class="container-img">
            <div class="mySlides">
                <div class="numbertext">1 / 4</div>
                <img src="/static/images/product/495d6d4f-d9a8-4f94-afb3-f157eb5582b2.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">2 / 4</div>
                <img src="/static/images/product/495d6d4f-d9a8-4f94-afb3-f157eb5582b2.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">3 / 4</div>
                <img src="/static/images/product/495d6d4f-d9a8-4f94-afb3-f157eb5582b2.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">4 / 4</div>
                <img src="/static/images/product/495d6d4f-d9a8-4f94-afb3-f157eb5582b2.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="caption-container"></div>

            <div class="container">
                <div class="row">
                    <div class="column-img">
                        <img class="demo cursor" src="/static/images/product/495d6d4f-d9a8-4f94-afb3-f157eb5582b2.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
                    </div>
                    <div class="column-img">
                        <img class="demo cursor" src="/static/images/product/495d6d4f-d9a8-4f94-afb3-f157eb5582b2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
                    </div>
                    <div class="column-img">
                        <img class="demo cursor" src="/static/images/product/495d6d4f-d9a8-4f94-afb3-f157eb5582b2.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                    </div>
                    <div class="column-img">
                        <img class="demo cursor" src="/static/images/product/495d6d4f-d9a8-4f94-afb3-f157eb5582b2.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                    </div>
                </div>
            </div>
        </div>

        <input type="number" id="stock-input" class="form-control form-control-sm stock-input" value="12" style="width: 55px;">


{%endblock%}

{%block scripts%}
<script>
    
    let slideIndex = 1;
    showSlides(slideIndex);
    
    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("demo");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }

        
    $('.stock-input').on('input', function() {
        // Menampilkan tombol simpan saat terjadi perubahan
        console.log('simpan')
        $('#btnSave').show();
    });




    </script>

{%endblock%}
