<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="icon" type="image/x-icon" href="\static\images\logo\icon.ico">
    
    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <style>
        .btn-custom{
            color: black ;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        .btn-custom:active,
        .btn-custom:focus{
            outline: none;
            box-shadow: none;
            transform: scale(1);
        }

        .btn-custom:hover{
            color: #B31312  ;
        }
        

        .fixed-footer {
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        .disabled-link {
        pointer-events: none;
        }

        .star-rate {
            color: gold;
        }

        .custom-switch {
        width: 10px; /* Atur lebar sesuai kebutuhan */
        height: 20px; /* Atur tinggi sesuai kebutuhan */
    }
    </style>


</head>
<body>
    <div class="wrapper">

        <div class="body-overlay"></div>

         <!-------sidebar-------------->
        <div id="sidebar">
            <div class="d-flex justify-content-center">
                <div class="sidebar-header">
                    <a href="/"><img src="/static/images/logo/navbar-brand.png" class="img-fluid" style="width: 150px;"></a>
                </div>
            </div>
            <ul class="list-unstyled component m-0">
                <li class="#">
                    <a href="/dashboard" class="dashboard "><i class="material-symbols-outlined">dashboard</i>dashboard </a>
                </li>
                
                <li class="#">
                    <a href="/dashboard/toko-anda"  class="dashboard" id="btnTokoAnda" ><i class="material-symbols-outlined">store</i>Toko Anda </a>
                </li>

                <li class="dropdown active">
                    <a href="#homeSubmenu1" data-bs-toggle="collapse" aria-expanded="true" class="dropdown-toggle active"><i class="material-symbols-outlined">package_2</i>Produk Anda
                    </a>

                <ul class="collapse show  list-unstyled menu" id="homeSubmenu1">
                    <li><a href="/dashboard/tambah-produk">Tambah Produk</a></li>
                    <li><a href="/dashboard/daftar-produk" class="active">Daftar Produk</a></li>
                </ul>
                </li>
                

        </div>
   <!-------sidebar--- End----------->

    <div id="content">

        <!------top-navbar-start-----------> 
        <div class="top-navbar">
            <div class="xd-topbar">
                <div class="row">
                    <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                    <div class="xp-menubar">
                        <span class="material-symbols-outlined text-white">signal_cellular_alt</span>
                    </div>
                    </div>
                    
                    <div class="col-md-5 col-lg-3 order-3 order-md-2">
                        <div class="xp-searchbar">
                            <form>
                            <div class="input-group">
                                <input type="search" class="form-control"
                                placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn" type="submit" id="button-addon2">Go
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    
                    
                    <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
                        <div class="xp-profilebar text-right d-flex justify-content-end">
                            <nav class="navbar p-0">
                                <ul class="nav flex-row ml-auto">
                                    <li class="dropdown nav-item active">
                                        <a class="nav-link" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <span class="material-symbols-outlined">notifications</span>
                                            <span class="notification">4</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#">You Have 4 New Messages</a></li>
                                            <li><a class="dropdown-item" href="#">You Have 4 New Messages</a></li>
                                            <li><a class="dropdown-item" href="#">You Have 4 New Messages</a></li>
                                            <li><a class="dropdown-item" href="#">You Have 4 New Messages</a></li>
                                        </ul>
                                    </li>
                                
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <span class="material-symbols-outlined">question_answer</span>
                                        </a>
                                    </li>
                                
                                    <li class="dropdown nav-item">
                                        <a class="nav-link" href="#" data-bs-toggle="dropdown">
                                            <img src="/static/images/placeholder/placeholder-image.png" style="width:40px; border-radius:50%;" alt="User Avatar">
                                            <span class="xp-user-live"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#">
                                                <span class="material-symbols-outlined">person_outline</span>
                                                Profile
                                            </a></li>
                                            <li><a class="dropdown-item" href="#">
                                                <span class="material-symbols-outlined">settings</span>
                                                Settings
                                            </a></li>
                                            <li><a class="dropdown-item" href="#">
                                                <span class="material-symbols-outlined">logout</span>
                                                Logout
                                            </a></li>
                                        </ul>
                                    </li>
                                </ul>  
                            </nav>
                        </div>
                        <!-- </div> -->
                    </div>
                    
                </div>
                <div class="xp-breadcrumbbar text-center">
                    <h4 class="page-title">Dashboard | Tambah Produk</h4>
                </div>
            </div>
        </div>
        <!------top-navbar-end-----------> 

        <!------Main-Content-----------> 
        <div class="main-content">
            <input type="hidden" name="seller_id" id="seller_id" value="{{ seller_id }}"> 

            <div class="container d-flex justify-content-center gap-3 mt-3 flex-wrap" id="img-preview"> 
              
                    
            </div>
            <div class="container mt-5 col-md-7">
                <!-- Container Alert -->
                <div id="alert-container"></div>

                

                <div class="row">
                    <form id="addProductForm" method="post" enctype="multipart/form-data">
                        <div class="form-group row mb-4 mt-4">
                            <div class="col-12">
                                <label for="inputImage" class="form-label">Unggah Gambar</label>
                                <input class="form-control" type="file" id="inputImage1" name="inputImage1" >
                            </div>
                        </div>
                        <div class="form-group row mb-4 mt-4">
                            <div class="col-12">
                                <input class="form-control" type="file" id="inputImage2" name="inputImage2" >
                            </div>
                        </div>
                        <div class="form-group row mb-4 mt-4">
                            <div class="col-12">
                                <input class="form-control" type="file" id="inputImage3" name="inputImage3" >
                            </div>
                        </div>

                        <div class="form-group row mb-4 mt-4">
                            <div class="col-12">
                                <input class="form-control" type="file" id="inputImage4" name="inputImage4" >
                            </div>
                        </div>
                        
                        <div class="form-group row mb-4 mt-4">
                            <div class="col-12">
                                <label for="inputNamaProduk" class="form-label">Nama Produk</label>
                                <input type="text" class="form-control" id="inputNamaProduk" placeholder="Nama produk">
                            </div>
                        </div>
        
                        <div class="form-group row mb-4">
                            <div class="col-12">
                                <label for="inputDescriptionProduct" class="col-sm-2 col-form-label">Description</label>
                                <textarea class="form-control" id="inputDescriptionProduct" name="inputDescriptionProduct" rows="8" placeholder="Deskripsi produk" required></textarea>
                            </div>
                        </div>
        
                        <div class="form-group row mb-4">
                            <div class="col-12">
                                <label for="inputPriceProduct" class="col-sm-2 col-form-label">Harga Barang</label>
                                <input type="number" class="form-control" id="productPrice" name="price" placeholder="Harga barang" required>
                            </div>
                        </div>
        
                        <div class="form-group row mb-4">
                            <div class="col-12">
                                <label for="inputStockProduct" class="col-sm-2 col-form-label">Stok Barang</label>
                                <input type="number" class="form-control" id="productStock" name="stock" placeholder="Stok barang" required>
                            </div>
                        </div>
    
                        <div class="form-group row mb-4">
                            <button type="button" id="submitBtn" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
                </div>



        </div>
        <footer class="footer mt-5">
            <div class="container-fluid">
               <div class="footer-in">
                  <p class="mb-0">&copy 2023 Urban Store . All Rights Reserved.</p>
               </div>
            </div>
         </footer>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>      
	<script src="https://kit.fontawesome.com/fa29c2884b.js" crossorigin="anonymous"></script>
    <script src="\static\scripts\dashboard.js" defer></script>

    <script>
        $(document).ready(function(){
            $(".xp-menubar").on('click',function(){
                $("#sidebar").toggleClass('active');
                $("#content").toggleClass('active');
            });
                
            $('.xp-menubar,.body-overlay').on('click',function(){
                $("#sidebar,.body-overlay").toggleClass('show-nav');
            });


            $('#submitBtn').off('click').on('click', function () {
                console.log($('#seller_id').val())
                save_product()
            });

            $("#inputImage1").on('change', function() {
                var fileInput = $('#inputImage1')[0].files[0];
                    if (fileInput) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#img-preview').append('<img src="'+ e.target.result +'"alt="image-preview" style="width: 15rem;">');
                        };
                        
                        reader.readAsDataURL(fileInput);
                    }
                })
            $("#inputImage2").on('change', function() {
                var fileInput = $('#inputImage2')[0].files[0];
                    if (fileInput) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#img-preview').append('<img src="'+ e.target.result +'"alt="image-preview" style="width: 15rem;">');
                        };
                        
                        reader.readAsDataURL(fileInput);
                    }
                })
            $("#inputImage3").on('change', function() {
                var fileInput = $('#inputImage3')[0].files[0];
                    if (fileInput) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#img-preview').append('<img src="'+ e.target.result +'"alt="image-preview" style="width: 15rem;">');
                        };
                        
                        reader.readAsDataURL(fileInput);
                    }
                })
            $("#inputImage4").on('change', function() {
                var fileInput = $('#inputImage4')[0].files[0];
                    if (fileInput) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#img-preview').append('<img src="'+ e.target.result +'"alt="image-preview" style="width: 15rem;">');
                        };
                        
                        reader.readAsDataURL(fileInput);
                    }
                })

        });
        function save_product() { 
            const productData = new FormData();

            productData.append('seller_id', $('#seller_id').val())
            // productData.append('image', $('#inputImage1')[0].files[0]);
            productData.append('name', $('#inputNamaProduk').val());
            productData.append('description', $('#inputDescriptionProduct').val());
            productData.append('harga', $('#productPrice').val());
            productData.append('stok', $('#productStock').val());
            productData.append('image1', $('#inputImage1')[0].files[0]);
            productData.append('image2', $('#inputImage2')[0].files[0]);
            productData.append('image3', $('#inputImage3')[0].files[0]);
            productData.append('image4', $('#inputImage4')[0].files[0]);


            $.ajax({
                url: 'http://127.0.0.1:3000/add-product',
                method: 'POST',
                data: productData,
                processData: false,
                contentType: false, 
                success: function (response) {
                    $('#img-preview').empty();
                    $(window).scrollTop(0);
                    $('#alert-container').empty();
                    $('#alert-container').append('<div class="alert alert-success" role="alert">Berhasil Menambahkan Produk!</div>');
                    $('#inputImage1').val(null)
                    $('#inputImage2').val(null)
                    $('#inputImage3').val(null)
                    $('#inputImage4').val(null)
                    $('#inputNamaProduk').val('');
                    $('#inputDescriptionProduct').val('');
                    $('#productPrice').val('');
                    $('#productStock').val('');
                    
                },
                error: function (error) {
                    $('#alert-container').empty()
                    $('#alert-container').append('<div class="alert alert-danger" role="alert">Gagal Menambahkan Produk!</div>');
                }
            });

        }
    </script>
</body>
</html>